{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-span-3 px-40 py-20">
  <div class="h-full bg-myGray rounded-xl p-12">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <label
          class="flex justify-center w-full h-56 px-4 transition bg-myWhite border-2 border-myBlack border-dashed rounded-md appearance-none cursor-pointer hover:border-myTeal focus:outline-none">
          <span class="flex items-center space-x-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-myGray" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                      d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
              </svg>
              <span class="font-medium text-myGray">
                  Drop Photo to Attach, or
                  <span class="text-myTeal underline">browse</span>
                <input type="file" name="image" class="hidden" accept="image/*" required>
              </span>
          </span>

      </label>
      <div class="mt-8 mb-12 flex flex-col">
        <label for="caption" class="mb-1 text-myWhite text-md font-semibold">Caption</label>
        <input type="text" maxlength="128" id="caption" name="caption" class="px-2 py-1 rounded-sm" placeholder="Type your caption here">
      </div>

      <div class="flex justify-end text-myWhite">
        <input type="submit" value="Post" name="submit" class="bg-myTeal px-4 py-2 rounded-full hover:bg-cyan-600">
      </div>
    </form>
  </div>
</div>
{% endblock content %}